!!! 5
html
	head
		script(src='/javascripts/socket.io.js')
		script
			var socket = io.connect('http://localhost:8088');
			socket.on('news', function (data) {
				console.log(data);
				socket.emit('my other event', { my: 'data' });
				}
			);

	body
		p socket.io client
