[user]
	name = song10
	email = song10@gmail.com

[alias]
	ci  = commit
	cia = commit -a
	co  = checkout
	st  = status
	br  = branch
	brr = branch -r
	re  = remote
	fe  = fetch
	pul = pull --rebase
	pus = push
	dif = diff -w
	ls  = ls-files
#	praise = blame

[core]
	editor = vim
	whitespace = tabwidth=8
	pager = less -x2

[apply]
	whitespace = strip

[diff]
	color = auto
#	rename = copy

[pager]
	color = true

[status]
	color = auto
[color]
	diff = auto
	status = auto
	branch = auto
[credential]
	helper = cache --timeout=3600
[push]
	default = matching
