!!! 5
html
  head
    link(type='text/css', href='/css/smoothness/jquery-ui-1.8.20.custom.css', rel='stylesheet')
    script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/js/jquery-ui-1.8.20.custom.min.js')
    style(type='text/css')
      #feedback { font-size: 1.4em; }
      #selectable .ui-selecting { background: #FECA40; }
      #selectable .ui-selected { background: #F39814; color: white; }
      #selectable { list-style-type: none; margin: 0; padding: 0; text-align:center }
      #selectable li { margin: 3px; padding: 0.3em; font-size: 1.4em; height: 1.4em; }
    script(type='text/javascript')
        $(function() {
            $("#selectable").selectable({
                //create: function(event, ui) { alert("create"); },
                selected: function(event, ui) {
                    var result = $("#select-last").empty();
                    $(".ui-selected", this).each(function() {
                        var index = $("#selectable li").index(this);
                        result.append(" #" + ( index + 1 ));
                        //location.replace("http://www.google.com/");
                        if (0 == index)
                            self.location="/company";
                        else if (3 == index)
                            self.location="/list";
                        else
                            result.append("not yet");
                        false;
                    });
                }
            });
        });
  body
    ul#selectable
      li.ui-state-default 同福沛特有限公司
      li.ui-state-default 產品型錄
      li.ui-state-default 客服窗口
      li.ui-state-default 訂單查詢
      li.ui-state-default 人力資源
    p
      span latest selected:
      span#select-last none
      | .
