form(method='post')
  | 客戶：
  input(type="text", name='client', placeholder="公司名稱")
  br
  | 型號：
  select(name='type')
    option 6"
    option(selected='selected') 8"
    option 10"
    option 12"
  br
  | 數量：
  input(type="text", name='quantity', placeholder='數量')
  br
  | 交期：
  input(type="text", name='due', placeholder='交期')
  input(type="button", value='日曆')
  br
  | 急級：
  select(type="text", name='priority', placeholder='急級')
    option super
    option(selected='selected') normal
    option minor
  br
  | 序號：
  input(type="text", name='serial', placeholder='序號')
  br
  | 估計時程：
  input(type="text", name='EWD', placeholder='估計時程')
  br
  input(type="submit", value='Order')
