body
	padding: 50px
	font-size: 20pt
a
	color: #00B7FF

//	text-align: left
//	background-color: cyan
//	font-size: 20pt

.order
	padding-bottom: 20px

.title
	color: blue
	font-weight: bold
.client
	color: blue
	background-color: #99FFCC
.due
	color: blue
	background-color: #FFCC99
.type
	color: blue
	background-color: #99FFCC
.quantity
	color: blue
	background-color: #FFCC99
.serial
	color: blue
	background-color: #99FFCC
.priority
	color: blue
	background-color: #FFCC99
.EWD
	color: blue
	background-color: #99FFCC
.created
	color: blue
	background-color: #FFCC99
