#results
form#chatter
    input#message(type= "text", placeholder= "Type Something...")
    input(type= "submit", value= "Send")

script(src="/socket.io/socket.io.js")
script(src= "/javascripts/jquery.min.js")
script(src= "/javascripts/client.js")
